@model IEnumerable<CoreTax.Application.ViewModels.ImpuestoView>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (ViewData["success"].ToString()=="True")
{
<p>
    <a asp-action="Crear">Create Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoImpuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCuenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abbreviacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHasta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoImpuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abbreviacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDesde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHasta)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
                @Html.ActionLink("Dar de baja", "DarDeBaja", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
}
else
{
    <div>
        <h4>Hubo un error al obtener los impuestos</h4>
    </div>
}
